.td-sidebar-nav__section-title a {
	color: $body-color;
}

.td-sidebar-nav .td-sidebar-link__page {
	color: #495057;
	font-weight: 300;
}

:root {
	--bs-link-color: rgb(37, 193, 159);
	// --bs-popover-body-color: #495057;
};

.popover {
	--bs-popover-bg: #495057;
};

.td-footer {
	color: #333;
	background-color: #333;
	// color: rgb(37, 193, 159);
	// background-color: rgb(37, 193, 159);
};
