$primary: rgb(37, 193, 159);
//$secondary: #0f0;
$body-bg: #333;
$body-color: #fff;


// :root {
// 	--bs-link-color: $primary;
// };
.popover-body .popover .td-offline-search-results {
	color: #495057;
}
.popover .td-offline-search-results {
	color: #495057;
}
.td-offline-search-results {
	color: #495057;
}
